:root {
  --pink: #e867ed;
  --display: flex;
  --pix: 20px;
}

* {
  color: white;
}

body {
  display: var(--display);
  flex-direction: column;
  background-color: #333940;
}

header,
footer {
  text-align: center;
  justify-content: center;
  width: 100%;
  line-height: 50px;
}

main {
  display: var(--display);
  flex-wrap: wrap;
  justify-content: space-around;
  margin: var(--pix);
  padding: var(--pix);
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 180%;
}

h3 {
    font-size: 100%;
}

h1,
h2,
h3 {
  color: var(--pink);
}

.card ul {
  list-style: none;
  margin-top: var(--pix);
  margin-bottom: var(--pix);
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

.card {
  display: var(--display);
  flex-direction: column;
  border-style: dashed;
  border-width: 1px;
  padding: 10px;
  margin: var(--pix);
  width: 25%;
}

.card h2 {
  justify-content: left;
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  margin: 5px;
  margin-top: -20px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.card .card ul,
.card h2 {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.card:hover,
.card:hover .card ul,
.card h2 {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgba(232, 102, 236, 1);
}

.card h2 + p {
  color: var(--pink);
  margin-top: var(--pix);
  margin-bottom: var(--pix);
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  main {
    order: 2;
  }
  footer {
    order: 3;
  }
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  main {
    order: 2;
  }
  footer {
    order: 3;
  }
  .card {
    width: 95%;
  }
}
