:root {
}

* {
  color: white;
}

body {
  background-color: #333940;
}

header,
footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1,
h2 {
    color: #E867ED;
}

.card ul {
  list-style: none;
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
}

.card {
    display:flex;
    flex-direction: column;
    flex: 1 0 250px;
    border-style: dashed;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    float: left;
    width: 25%;
}

.card header {
    justify-content: left;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    margin: 5px;
    margin-top: -20px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    
}

.card header + p {
    color: #E867ED;
}